:root {
  --background: #fff;
  --color: #000;
  --line-number-width: 4ch;
}

:root[theme="dark"] {
  --background: #333;
  --color: #ddd;
}

body {
  width: 100dvw;
  height: 100dvh;
  margin: 0;
}

#contentSpace {
  display: grid;
  grid-template-rows: 24px 1fr;
  width: 100%;
  height: 100%;
  background: var(--background);
}

#controlSpace {
  width: 100%;
  grid-row: 1;
  cursor: auto;
}

#editorSpace {
  position: relative;
  grid-row: 2;
  grid-column: 1;
  width: 100%;
  overflow: auto;
  font-family: 'Moralerspace Neon HW', Consolas, 'Courier New', 'ＭＳ ゴシック', system-ui, sans-serif;
  cursor: text;
}

#caret {
  display: inline-block;
  position: absolute;
  width: 2px;
  height: 1.2em;
  background-color: var(--color);
  opacity: 1;
  z-index: 100;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(1, end);

  &.blink {
    animation-name: caretBlink;
  }
}

@keyframes caretBlink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

.dialogCover {
  display: flex;
  position: relative;
  grid-row: 2;
  grid-column: 1;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: #00000080;

  .dialog {
    padding: 12px;
    color: var(--color);
    background: var(--background);
    border-radius: 4px;
    font-family: system-ui;
  }

  .dialogTitle {
    font-size: 1.2em;
  }

  .dialogContent {
    margin-top: 12px;
  }
}

.line {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 1.2em;
}

.line .lineNumber {
  min-width: var(--line-number-width);
  text-align: right;
  padding-right: 1ch;
  color: #888;
  user-select: none;

  &.selected {
    color: var(--color);
  }
}

#lineToMeasure {
  visibility: hidden;
  width: fit-content;
  height: 0;
  white-space: pre;
}

.token {
  position: relative;
  color: var(--color);
  white-space: pre;
  user-select: none;

  & :last-child {
    position: relative;
    z-index: 10;
  }

  &.selection {
    background-color: #46f9ff55;

    &.extensionOfLineBreak {
      padding-right: 7px;
    }
  }
}

.line .decoration {
  display: inline-block;
  position: absolute;
  height: 1.2em;
}

.line .extensionOfLineBreakForEmptyLine {
  display: inline-block;
  width: 7px;
  height: 1.2em;
  background-color: #46f9ff55;
}
